<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

  <section layout:fragment="header">
    Привет от Хекслета!
  </section>

  <section layout:fragment="content">
    <div class="rounded-lg border border-gray-200 bg-white p-8 shadow-sm">
      <p class="mb-6 text-lg">Практические курсы по программированию</p>
      <a class="inline-block rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700" href="https://ru.hexlet.io" target="_blank">Узнать Больше</a>
    </div>
  </section>

</html>
