<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

  <section layout:fragment="header">
    Статьи
  </section>

  <section layout:fragment="content">
    <a class="nav-link" href="/articles/new">Создать статью</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-1">ID</th>
          <th class="col-3">Название</th>
          <th>Описание</th>
          <th class="col-2">Дата создания</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="article : ${articles}" th:object="${article}">
          <td th:text="*{getId()}"></td>
          <td>
            <a th:href="@{/articles/{id}(id=*{getId()})}" th:text="${#strings.abbreviate(article.getName(), 30)}"></a>
          </td>
          <td th:text="${#strings.abbreviate(article.getDescription(), 60)}"></td>
          <td th:text="${#temporals.format(article.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
      <ul class="pagination justify-content-center mt-5">
        <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
          <a class="page-link" th:href="@{/articles(page=${currentPage - 1})}">Previous</a>
        </li>
        <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
          <a class="page-link" th:href="@{/articles(page=${page})}" th:text="${page}"></a>
        </li>
        <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
          <a class="page-link" th:href="@{/articles(page=${currentPage + 1})}">Next</a>
        </li>
      </ul>
    </nav>
  </section>

</html>
