<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

  <section layout:fragment="header">
    Создание статьи
  </section>

  <section layout:fragment="content">
    <form action="/articles" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Наименование</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${article.getName()}">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea rows="10" class="form-control" id="description", name="description" th:text="${article.getDescription()}"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Создать</button>
    </form>
  </section>

</html>
